<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <br>
            <div class="jumbotron text-center">
                <h1>Portland's Local Shoe Directory!</h1>
                <div class="row">
                    <div class="col-sm-6 well">
                        <form action='/stores' method='post'>
                            <h3>Add a Store</h3>
                            <div class='form-group'>
                                <label>Name:</label>
                                <input type='text' name='name' class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label>Description:</label>
                                <input type='text' name='description' class='form-control'>
                            </div>
                            <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-plus'></span> Add</button>
                        </form>
                    </div>
                    <div class="col-sm-6 well">
                        <form action='/brands' method='post'>
                            <h3>Add a Brand</h3>
                            <div class='form-group'>
                                <label>Name:</label>
                                <input type='text' name='name' class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label>Description:</label>
                                <input type='text' name='description' class='form-control'>
                            </div>
                            <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-plus'></span> Add</button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Browse Shoe Stores
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                {% if stores is not empty %}
                                    <ul>
                                    {% for store in stores %}
                                        <li>
                                            <a href = "/store/{{ store.getId }}"> {{ store.getName }} </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                    No stores added to this list yet!
                                {% endif %}
                            </div>
                        </div><!--close first panel-->
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Browse Shoe Brands
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                {% if brands is not empty %}
                                    <ul>
                                    {% for brand in brands %}
                                        <li>
                                            <a href = "/brand/{{ brand.getId }}"> {{ brand.getName }} </a>
                                            <a href = "/delete_brand/{{ brand.getId }}"><span class='glyphicon glyphicon-trash'></span></a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                    {% else %}
                                    No brands added to this list yet!
                                {% endif %}
                            </div>
                        </div><!--close second panel-->
                    </div>
                </div> <!--closes col-3-sm displaying lists of shoes and brands-->

                <div class="col-sm-9 well">
                    {% if store is empty %}
                            <h3 class='text-center'>Select a store from the list</h3>
                        {% else %}
                            <h2>{{ store.getName }}</h2>
                            <p>
                                Description: {{ store.getDescription }}
                            </p>
                            {% if storeBrands is not empty %}
                                <p>Brands carried:</p>
                                <ul>
                                    {% for brand in storeBrands %}
                                        <li>{{ brand.getName }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        <hr>
                        <div class='row'>
                            <div class='col-sm-4'>
                                <h3>Add a Brand</h3>
                                <form class='editForm' action='/stores/add/{{ store.getId }}' method='post'>
                                    <div class='form-group'>
                                        <label>Name:</label>
                                        <select class='form-control' name='brand_id'>
                                            {% for brand in brands %}
                                                <option value='{{ brand.getId }}'>{{ brand.getName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-user'></span> Add</button>
                                </form>

                            </div>
                            <div class='col-sm-4'>
                                <h3>Edit Name</h3>
                                <form class='editForm' action='/stores/{{ store.getId }}' method='post'>
                                    <input type='hidden' name='_method' value='patch'>
                                    <div class='form-group'>
                                        <label>Name:</label>
                                        <input type='text' name='title' class='form-control' value='{{ store.getName() }}'>
                                    </div>
                                    <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-pencil'></span> Edit</button>
                                </form>
                            </div>
                            <div class='col-sm-4'>
                                <h3>Update description:</h3>
                                <form action="/stores/{{ store.getId }}" method="post">
                                    <input type='hidden' name='_method' value='patch'>
                                    <div class='form-group'>
                                        <label>New description:</label>
                                        <input type='text' name='description' class='form-control'>
                                    </div>
                                    <button class='btn btn-info' type='submit'><span class='glyphicon glyphicon-pencil'></span> Edit</button>
                                </form>

                                <form class='deleteButton' action='/stores/{{ store.getId }}' method='post'>
                                    <input type='hidden' name='_method' value='delete'>
                                    <button class='btn btn-danger pull-right' type='submit'><span class='glyphicon glyphicon-trash'></span> Delete Store</button>
                                </form>
                            </div>

                        </div>


                    {% endif %}

                </div>

            </div>




        </div> <!--closes container-->
    </body>
</html>
